<div class="box col-md-6 offset-md-3">
    <h1 class="text-center">Diagnostic Tests</h1>
  <!-- Test  -->
    <form (ngSubmit)="onSubmit()">
      <div class="box">
        <h3 class="text-center">{{ isSignUp ? 'Sign Up' : 'Login' }}</h3>
  
        <!-- Display login error message if there is one -->
        <div *ngIf="loginError" class="alert alert-danger">
          {{ loginError }}
        </div>
  
        <div class="form-group">
          <label>Email Id</label>
          <input type="text" class="form-control" id="emailId" [(ngModel)]="user.emailId" name="emailId">
        </div>
  
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password">
        </div>
  
        <!-- Additional fields for sign-up -->
        <div *ngIf="isSignUp">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="user.firstName" name="firstName">
          </div>
  
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="user.lastName" name="lastName">
          </div>
        </div>
  
        <button class="btn btn-success" type="submit">{{ isSignUp ? 'Sign Up' : 'Login' }}</button>
  
        <p class="text-center">
          {{ isSignUp ? 'Already have an account? ' : 'Don\'t have an account? ' }}
          <a href="javascript:void(0)" (click)="toggleSignUp()">
            {{ isSignUp ? 'Login here' : 'Sign Up here' }}
          </a>
        </p>
      </div>
    </form>
  </div>